body {
    font-family: Arial, sans-serif;
}
.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    margin-top: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Adiciona padding dentro do width e height */
}
.form-group input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form-group input[type="submit"]:hover {
    background-color: #4cae4c;
}

.avisoEnderecoEth {
    font-size: 0.8rem;
}

#meuFormulario div:last-child {
    margin-top: 4rem;
}