@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

:root {

    --paleta-fundo: #b796ff;
    --paleta-rosa0: #B841D9;
    --paleta-rosa1: #c800ff;
    --paleta-azul1: #3C35F2;
    --paleta-azul2: #3703A6;
    --paleta-azul3: #1C1973;
    --paleta-azul4: #100E40;
}

html {
    font-family: 'Play', sans-serif;
}


.container {
    margin-left: 8rem;
    margin-right: 8rem;
}

h1, h2 {
    text-align: center;
    color: var(--paleta-azul3);
}

.containerComponent {
    margin-top: 2rem;
}

.containerComponent label {
    font-size: 1.5rem;    
}

.containerComponent input {
    width: 100%;
    border: 3px solid var(--paleta-azul1);
    border-radius: 20px;    
    font-size: 1.2rem;
    font-family: 'Play', sans-serif;    
}

.containerComponent button {
    width: 25%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--paleta-azul2);
    color: var(--paleta-rosa1);
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Play', sans-serif;
}

.containerComponent button:hover {
    background-color: var(--paleta-azul4);
    transform: scale(1.08);
    transition: ease-in-out 0.3s;
}

.container .containerComponent:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aviso {
    background-color: var(--paleta-fundo);
    border-radius: 20px;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 50px;
    text-align: justify;
    padding: 20px;
}


.aviso li {
    margin-top: 3rem;
    font-size: 1.5rem;
}




